		html {
			margin: 0;
			padding: 0;
			background-color: black;
			font-family: Verdana;
		}

		 #mainheading {
			color: white;
			text-align: center;
			font-weight: normal;
			font-size: 50px;
		}

		.link a{
			text-align: center;
			color: Aquamarine;
			font-size: 16px;
			
		}

		body .video{
			max-width:281px;
			max-height: 500px;
			margin: auto;
		}
		 
		body p{
			color:gray;
			text-align: center;
			font-size: 21px;
		}
		body .subh1 {
			color:white;
			text-align: center;
			font-weight: 300;
			font-size: 42px;
			

		}

		body #copyright p{
			text-align: right;
		}

		
